
:root {
  --app-gray: #d9d9d9;
  --app-blue-light: #9bbfe1;
  --app-blue-dark: #249fda;

  --text-shadow: 0 0 10px rgba(0, 0, 0, .3);
  --animation-fade-up: animation-fade-up .75s ease-in-out;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("~assets/fonts/Montserrat-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("~assets/fonts/Montserrat-SemiBold.ttf");
  font-display: swap;
}

html {
  overflow-y: scroll;
  min-height: 100%;
}

body,
::placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.ff-code {
  font-family: Consolas, monospace, sans-serif;
}

.app-gray       { color: var(--app-gray); }
.app-blue-dark  { color: var(--app-blue-dark); }
.app-blue-light { color: var(--app-blue-light); }

.bg-app-gray       { background-color: var(--app-gray); }
.bg-app-blue-dark  { background-color: var(--app-blue-dark); }
.bg-app-blue-light { background-color: var(--app-blue-light); }
.bg-lg-blue        { background: linear-gradient(90deg,#0dc5eb 10%,#0697E1 100%); }
.bg-lg-blue-light  { background: linear-gradient(45deg,#469FFF,#A39AF9); }
.bg-lg-cyan        { background: linear-gradient(45deg,#30496B,#30B8D2); }
.bg-lg-gray-light  { background: linear-gradient(to bottom,#fff 10%,#f4f5f5 100%); }
.bg-lg-green       { background: linear-gradient(to right,#00cfa4,#008b6f); }
.bg-lg-pink        { background: linear-gradient(135deg,#f783a7 10%,#C74FBA 100%); }
.bg-lg-purple      { background: linear-gradient(135deg,#476892 10%,#59355D 100%); }
.bg-lg-sunset      { background: linear-gradient(45deg,#FBCA88,#EF69AD); }

.grid { display: grid; }
.grid-repeat-3 { grid: repeat(3, auto) / auto-flow 1fr; }
.grid-gap-1 { grid-gap: 0 41px; }

a { 
  color: var(--app-blue-dark);
  outline: none;
}

  a:hover { 
    color: #45b2e8;
  }

  :focus,
  .link:focus {
    outline: none;
  }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p, h1, h2, h3, h4, h5, h6 { 
  margin-top: 0; 
}

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

  img[width],
  img[height] {
    max-width: none;
  }

/*.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}

.page-enter, .page-leave-to {
  opacity: 0;
}*/

.app-f1 { 
  font-size: 50px; 
}

.ts-1 {
  text-shadow: var(--text-shadow);
}

.lh-1-5 {
  line-height: 1.5;
}

.lh-2 {
  line-height: 2;
}
